.App {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
header {
  display: flex;
  width: 100%;
}

.logo {
  width: 40%;
  float: left;
}
.loginBtn {
  padding-top : 30px;
  float: right;
}
li {
  display: flex;
}
ul {
  padding-right: 5%;
}
ul:hover {
  color: white;
  background-color: orangered;
}
.first-line {
  display: flex;
}

.menuBtn {
  width: 40%;
  padding-left: 5%;
}
td {
  color: white;
}
